# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
ilenv/


# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Checkpoints, data, logs
*.ckpt
bc_pretrainer_ckpts/
bc_meta_ckpts/
bc_meta_ckpts_load/
dagger/
demo_recorder/
mazes_data_try/
scripts/
visual_eval/
readmel.md
bc_meta_train.py
test.ipynb

# IDE / editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

train_debug.txt
collect_expert.py
syn_train_demos/
bc_demos_expert/